body {
    background-color: rgb(255, 255, 255);
}

.title {
    background-color: blanchedalmond;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}


.footer{
    background-color: #373738;
    padding: center;
}